{% extends 'base.html' %}
{% load static %}
{% block title %}CTAC | Absent {% endblock %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Absent</h1>

                    </div>
                </div>

            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
{#                            <div class="card">#}
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>

                                             <th> First Name </th>
                                             <th> Last Name </th>
                                             <th>Phone Number</th>
                                             <th> Group Name </th>
                                             <th> Chapel</th>
                                             <th>Service Date</th>
                                             <th>Absent</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {%  for ad in ad %}
                                        <tr>
                                            <td>{{ ad.member.first_name  }}</td>
                                            <td>{{ ad.member.last_name }}</td>
                                            <td>{{ ad.member.phone_number }}</td>
                                            <td>{{ ad.member.group }}</td>
                                            <td>{{ ad.member.chapel.name }}</td>
                                            <td>{{ad.service_date |date:"M d, Y" }}</td>
                                           <td>{{ ad.is_present }}</td>
                                        </tr>
                                        {% endfor %}

                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    </div>
{% endblock %}